Repository mastodon/mastodon, pull requests merged in 2020-03, with the labels that each got.

#13208 Remove useless `respond_to` calls
  app/controllers/api/v1/accounts/follower_accounts_controller.rb
  app/controllers/api/v1/accounts/following_accounts_controller.rb
  app/controllers/api/v1/accounts/identity_proofs_controller.rb
  app/controllers/api/v1/accounts/lists_controller.rb
  app/controllers/api/v1/accounts/pins_controller.rb
  app/controllers/api/v1/accounts/relationships_controller.rb
  app/controllers/api/v1/accounts/search_controller.rb
  app/controllers/api/v1/accounts/statuses_controller.rb
  app/controllers/api/v1/accounts_controller.rb
  app/controllers/api/v1/apps/credentials_controller.rb
  app/controllers/api/v1/blocks_controller.rb
  app/controllers/api/v1/bookmarks_controller.rb
  app/controllers/api/v1/conversations_controller.rb
  app/controllers/api/v1/custom_emojis_controller.rb
  app/controllers/api/v1/domain_blocks_controller.rb
  app/controllers/api/v1/endorsements_controller.rb
  app/controllers/api/v1/favourites_controller.rb
  app/controllers/api/v1/featured_tags/suggestions_controller.rb
  app/controllers/api/v1/filters_controller.rb
  app/controllers/api/v1/instances/activity_controller.rb
  app/controllers/api/v1/instances/peers_controller.rb
  app/controllers/api/v1/instances_controller.rb
  app/controllers/api/v1/media_controller.rb
  app/controllers/api/v1/mutes_controller.rb
  app/controllers/api/v1/notifications_controller.rb
  app/controllers/api/v1/polls/votes_controller.rb
  app/controllers/api/v1/polls_controller.rb
  app/controllers/api/v1/preferences_controller.rb
  app/controllers/api/v1/reports_controller.rb
  app/controllers/api/v1/statuses/bookmarks_controller.rb
  app/controllers/api/v1/statuses/favourited_by_accounts_controller.rb
  app/controllers/api/v1/statuses/favourites_controller.rb
  app/controllers/api/v1/statuses/mutes_controller.rb
  app/controllers/api/v1/statuses/pins_controller.rb
  app/controllers/api/v1/statuses/reblogged_by_accounts_controller.rb
  app/controllers/api/v1/statuses/reblogs_controller.rb
  app/controllers/api/v1/statuses_controller.rb
  app/controllers/api/v1/streaming_controller.rb
  app/controllers/api/v1/suggestions_controller.rb
  app/controllers/api/v1/timelines/home_controller.rb
  app/controllers/api/v1/timelines/public_controller.rb
  app/controllers/api/v1/timelines/tag_controller.rb
  app/controllers/api/v1/trends_controller.rb
  app/controllers/api/v2/search_controller.rb
  app/controllers/api/web/embeds_controller.rb
  app/controllers/api/web/push_subscriptions_controller.rb
  app/controllers/api/web/settings_controller.rb
Labels: refactoring

#13159 Code style improvements in JavaScript
  app/javascript/mastodon/actions/accounts.js
  app/javascript/mastodon/components/intersection_observer_article.js
  app/javascript/mastodon/features/blocks/index.js
  app/javascript/mastodon/features/compose/components/poll_form.js
  app/javascript/mastodon/features/domain_blocks/index.js
  app/javascript/mastodon/features/favourites/index.js
  app/javascript/mastodon/features/follow_requests/index.js
  app/javascript/mastodon/features/followers/index.js
  app/javascript/mastodon/features/following/index.js
  app/javascript/mastodon/features/getting_started/index.js
  app/javascript/mastodon/features/lists/index.js
  app/javascript/mastodon/features/mutes/index.js
  app/javascript/mastodon/features/reblogs/index.js
  app/javascript/mastodon/features/status/components/card.js
  app/javascript/mastodon/features/ui/components/__tests__/column-test.js
  app/javascript/mastodon/reducers/notifications.js
  app/javascript/mastodon/reducers/timelines.js
  app/javascript/mastodon/selectors/index.js
  app/javascript/mastodon/service_worker/web_push_notifications.js
  app/javascript/mastodon/store/configureStore.js
  config/webpack/development.js
  config/webpack/shared.js
Labels: refactoring

#13210 Change local media attachments to perform heavy processing asynchronously
  app/controllers/api/v1/media_controller.rb
  app/controllers/api/v2/media_controller.rb
  app/javascript/mastodon/actions/compose.js
  app/models/concerns/attachmentable.rb
  app/models/media_attachment.rb
  app/serializers/rest/media_attachment_serializer.rb
  app/services/post_status_service.rb
  app/workers/backup_worker.rb
  app/workers/post_process_media_worker.rb
  config/application.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20200306035625_add_processing_to_media_attachments.rb
  db/schema.rb
  lib/paperclip/attachment_extensions.rb
Labels: api, ui

#13220 Change video uploads to always be converted to H264/MP4
  app/models/media_attachment.rb
Labels: browser compatibility

#13252 Add titles to warning presets in admin UI
  app/controllers/admin/warning_presets_controller.rb
  app/models/account_warning_preset.rb
  app/views/admin/account_actions/new.html.haml
  app/views/admin/warning_presets/_warning_preset.html.haml
  app/views/admin/warning_presets/edit.html.haml
  app/views/admin/warning_presets/index.html.haml
  config/locales/ar.yml
  config/locales/ca.yml
  config/locales/co.yml
  config/locales/cs.yml
  config/locales/cy.yml
  config/locales/da.yml
  config/locales/de.yml
  config/locales/el.yml
  config/locales/en.yml
  config/locales/en_GB.yml
  config/locales/eo.yml
  config/locales/es-AR.yml
  config/locales/es.yml
  config/locales/et.yml
  config/locales/eu.yml
  config/locales/fa.yml
  config/locales/fr.yml
  config/locales/gl.yml
  config/locales/hu.yml
  config/locales/id.yml
  config/locales/is.yml
  config/locales/it.yml
  config/locales/ja.yml
  config/locales/kab.yml
  config/locales/kk.yml
  config/locales/ko.yml
  config/locales/lt.yml
  config/locales/nl.yml
  config/locales/nn.yml
  config/locales/no.yml
  config/locales/oc.yml
  config/locales/pl.yml
  config/locales/pt-BR.yml
  config/locales/pt-PT.yml
  config/locales/ru.yml
  config/locales/simple_form.en.yml
  config/locales/sk.yml
  config/locales/sl.yml
  config/locales/sq.yml
  config/locales/sr.yml
  config/locales/sv.yml
  config/locales/th.yml
  config/locales/tr.yml
  config/locales/uk.yml
  config/locales/vi.yml
  config/locales/zh-CN.yml
  config/locales/zh-HK.yml
  config/locales/zh-TW.yml
  db/migrate/20200312144258_add_title_to_account_warning_presets.rb
  db/schema.rb
Labels: admin support

#13254 Add option to include resolved DNS records when blacklisting e-mail domains in admin UI
  app/controllers/admin/email_domain_blocks_controller.rb
  app/models/email_domain_block.rb
  app/views/admin/accounts/show.html.haml
  app/views/admin/email_domain_blocks/_email_domain_block.html.haml
  app/views/admin/email_domain_blocks/new.html.haml
  config/locales/en.yml
  config/locales/simple_form.en.yml
  db/migrate/20200312185443_add_parent_id_to_email_domain_blocks.rb
  db/schema.rb
Labels: admin support
